/* Desktop Main Menu Color */

.wsmainfull {
  background-color: transparent;
}

.wsmenu>.wsmenu-list {
  background-color: #fff;
}

/* Mobile Header */

.wsmenu>.wsmenu-list>li.headerbtns a.headerbtn01{
  background-color: #d7412e;
}

.wsmenu>.wsmenu-list>li.headerbtns a.headerbtn02{
  
}

.wsmenu>.wsmenu-list>li>a:after {
  background-color: #d7412e;
}


.wsmobileheader {
  background-color: #fff;
}

.wsmenu>.wsmenu-list>li>a {
  color: #444;
}
 
.wsmenu>.wsmenu-list>li>a.active {
  color: #d7412e;
}

.wsmenu>.wsmenu-list>li:hover>a {
  color: #d7412e;
}

.wsmenu>.wsmenu-list>li>ul.sub-menu>li:hover>a {
  background-color: #d7412e;
  color: #fff;
}

.wsmenu>.wsmenu-list>li>ul.sub-menu>li>ul.sub-menu>li:hover>a {
  background-color: #d7412e;
  color: #fff;
}

.wsmenu>.wsmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li:hover a {
  background-color: #d7412e;
  color: #fff;
}