// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$green:#05a547;
$purple:#af5db0;
$orange:#f68000;
$blue:#0090d9;
$red:#f52915;
$white:#ffffff;