// Fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');


// Variables
@import 'variables';

* {
	transition: all 0.2s ease;
}

.navbar-brand a {
    width: 50%;
    margin: 0 auto;
}

.form-control {
	&.invalid {
		border-color:$red;
	}
}

.owl-gallery {

	.img {
		height: 160px;
	    background-size: cover;
	    width: 100%;
	}

	.delete {
		background-color: red;
		color: white;
	}
}


//Schedule student
#schedulestudent {
    .info-teacher {
        .img {
            height: 250px;
            margin:10px 0;
            border:3px solid #ececec;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    .comment {
        padding:10px 20px;
        background-color: #ececec;
        margin:10px 0;

        ul {
            padding:0;

            li {
                list-style-type: none;
                display: inline-block;

                i {
                    color:#ffd700;
                }
            }
        }

        p {
            margin:0;
        }
    }
}

.info-student {
	.img {
		height: 160px;
		background-position:center;
		background-size:cover;
	}

	h4 {
		font-weight: 700;
		margin:0;
		font-size: 22px;
		color:$purple;

		small {
			font-size: 10px;
			background-color:$purple;
			color: $white;
			padding:3px 5px;
			border-radius:5px;
		}
	}

	p {
		font-size: 15px;
		padding:0;
		margin: 0;
	}
}

//Student admin
#credit-message {
    h3 {
        color: $purple;
        font-weight: 700;
    }

    strong {
        color: $purple;
    }
}

//Favorites
.teacher-item {
	margin-bottom: 15px!important;
	position:relative;

	h2 {
		margin:0;
		font-weight: 500;
	}

	small {
		margin:10px 0;
	}

	.img {
		position: absolute;
		height: 100%;
		width: 180px;
		border-right:2px solid #ececec;
		background-position:center;
		background-size:cover;
		background-repeat:no-repeat;
		left: 0;
		bottom:0;
		z-index: 2;
	}
}

.auth-wrapper {
	.bg-white {
		padding:40px;
		padding-bottom:0;
		border-radius:20px;
		box-shadow:12px 12px 20px rgba(76, 73, 73,.4);
		position: relative;

		.mascota {
			position: absolute;
			right: -261px;
			top:-10px;
			z-index: 10;
			max-width: 320px;
		}

		h2 {
			font-family: 'ProgramOT';
			color:#b060b0;
			margin-bottom: 20px;
			font-size: 35px;
		}

		.form-control {
			border:0;
			padding:20px;
			font-size: 16px;
			border-bottom:2px solid #d3a8d4;
			font-weight: 600;
			color: #ac61ac;
			opacity: 0.7;

			&::placeholder {
				color: #ac61ac;
				opacity: 0.7;
			}
		}

		.p {
			text-align: center;
			display: block;
			margin: 0 auto;
			color: #aaaaaa;
			margin-bottom: 20px;
		}

		.btn-blue {
			padding:8px;
			font-size: 23px;
			border-radius:25px;
			font-family: 'ProgramOT';
			background-color:#00a69b;
			color: $white;
		}

		.btn-register {
			padding:8px;
			font-size: 23px;
			border-radius:25px;
			font-family: 'ProgramOT';
			background-color:$purple;
			color: $white;
		}

		.logo {
			max-width: 60%;
			display: block;
			margin: 30px auto;
		}
	}
}

.alert {
    padding: 10px!important;
    margin-bottom: 8px!important;
    border-radius: 2px!important;
    font-size: 15px!important;

    ul {
    	margin:0;
    }
}

ul {
	margin:0;
	padding-left:20px;
}

//Dashboard
.nav-top {
	.nav-link {
		padding:0 5px!important;
	}

	.info-days {
		background-color: red;
		padding:10px 16px;
		border-radius:20px;
		color: $white;
	}

	.info-credit {
		background-color:$blue;
		color: $white;
		padding:10px 16px;
		border-radius:20px;
		color: $white;
	}
}
.form-teachers {
	background-color:#ececec;
	padding:20px;
}

.item-teacher {
	padding:30px 20px;
	border:1px solid #ececec;
	background-color:$white;
	position: relative;
	cursor: pointer;

	.date {
		position:absolute;
		top:0;
		right:0;
		font-size: 10px;
		padding:4px 10px;
		background-color: #ececec;
	}

	.btn {
		font-size: 13px;
	}

	.add-schedule {
		position: absolute;
		bottom:-20px;
		right: 10px;
	}

	&:hover {
		background-color: #ececec;
	}

	.stars {
		font-size: 13px;

		.fas {
			color: gold;
		}
	}

	h3 {
		margin:0;
	}

	h5 {
		font-size: 14px;
		margin:0;
	}

	.img {
		height: 70px;
		width: 70px;
		border-radius: 50%;
		background-size: cover;
		background-position:center;
		position:relative;
		border:1px solid #ececec;
	}

	p {
		line-height: 16px;
		margin-top: 6px;
		margin-bottom:0;
	}
}

//Students
.p-none {
    padding:0;
}

.p-right {
    padding-right: 0;
}

.p-left {
    padding-left: 0;
}

//Teachers rate student
.classroom_teacher_rate {
    .card-student {
        text-align: center;

        .img {
            height: 150px;
            width: 150px;
            display: block;
            margin:15px auto;
            border-radius: 50%;
            border:1px solid #ececec;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

        .btn {
            position: absolute;
            right: 20px;
        }
    }
}

//Teachers Stadistics
.owl-class-next {

    .info-popup-next {
        display: none;
        width: 100%;
        max-width: 750px;

        .message-item {
            border:1px solid #ececec;

            p {
                margin:0;
            }

            h4 {
                font-size: 16px;
            }
        }
    }

    a {
        text-decoration: none;
        color:inherit;
    }

    .img {
        height: 190px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 6px;
        position: relative;

        &::before {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top:0;
            left: 0;
            background-color: rgba(1,1,1,0.4);
        }

        .text {
            border-radius: 6px;
            position: absolute;
            left: 15px;
            bottom:10px;

            p {
                margin:0;
                color: $white;
                font-size: 14px;
            }
        }
    }
}

#student-comments {
    .comment-item {
        border:1px solid #ececec;
        border-radius: 5px;

        .img {
            height: 150px;
            width: 150px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        .info {
            position: relative;
            top:50%;
            transform: translate(0,-50%);
        }

        .stars {
            padding:0;
            margin-bottom: 10px;

            li {
                display: inline-block;
                list-style-type: none;

                .fas {
                    color: gold;
                }
            }
        }
    }
}

#profile-status {
    position: relative;

    .img-profile {
        margin:0 auto;
        display: block;
        margin-bottom: 20px;
        border-radius: 50%;
        border:1px solid #ececec;
        height: 150px;
        width: 150px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .btn-float {
        position: absolute;
        right: 20px;
        top:0;
    }

    .stars-profile {
        padding:0;
        position: absolute;
        bottom:20px;
        right: 25px;

        li {
            list-style-type: none;
            display: inline-block;

            .fas {
                color: gold;
            }
        }
    }
}

//Teachers student
.owl-teachers {
	.teacher-item {
		background-color:#ececec;
		border-radius:10px;
		padding:20px;
		margin:0!important;
		border:5px solid #ececec;
		cursor:pointer;
		height: 180px;
		width: 100%;
		background-size:cover;
		background-position:center;
		background-repeat:no-repeat;
		position: relative;

		&::before {
			content: '';
			position: absolute;
			top:0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius:10px;
			background-color:rgba(1,1,1,0.4);
		}

		h3 {
			font-size: 15px;
			color: black;
			margin:0;
			position: absolute;
			bottom:10px;
			left:10px;
			color: $white;
			font-weight: 600;
		}

		&.active {
			border:5px solid $green;

			&::before {
				background-color:rgba(1,1,1,0);
			}
		}
	}
}


//Student administrator
.section-admin {
	.header {
		text-align: center;
        position:relative;
		background-size: cover;
		background-repeat:no-repeat;
		background-position:center;
		margin-bottom: 15px;
        padding-top:140px;
        padding-bottom: 20px;

		h2 {
			font-weight:700;
			text-align: left;
            color:$purple;
            font-size: 25px;
		}
	}
}


#index-student {

    #header {
        margin-bottom: 15px;
        position: relative;
        background-color:$purple;

        &::before {
            display: none;
            top:0;
            left:0;
            width: 100%;
            height: 100%;
            content:'';
            position: absolute;
            background-color: rgba(1,1,1,0.2);
        }
    }

    .teacher-next {
        background-color:$blue;
        padding:60px;
        position: relative;
        text-align: center;

        .img {
            display: block;
            margin:15px auto;
            height: 110px;
            width: 110px;
            border-radius: 50%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border:5px solid white;

            &:hover {

            }
        }

        h2 {
            color: white;
            font-size: 24px;
            font-weight: 700;
        }

        h3 {
            margin:0;
            font-size: 18px;
            color: white;
            font-weight: 600;

            &.greeting {
                position: absolute;
                bottom:0;
                left:0;
            }
        }

        p {
            font-weight: 300;
            line-height: 20px;
            color:white;
        }

        #count {
            position: absolute;
            font-size: 18px;
            font-weight:600;
            bottom:0;
            right: 0;
            width: 100%;
            background-color: #0078b5;
            padding:8px 25px;
            color: $white;
        }
    }

	#header {

        .inner {
            background-color: rgba(175,93,176,0.9);
            padding:12px 0;

            h2 {
                font-size: 20px;
                text-align: left;
                color: white;
                margin:0;
            }
        }

		.float-score {

			li {
				display: inline-block;

				&:first-child {
					font-weight: 500;
                    color: white;
				}

				i {
					color:#fdc16a;
					font-size: 17px;
				}
			}
		}
	}

}
