// Fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

* {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	transition: all 0.2s ease;
}

#cookie-bar,#contentcookie {
	display: none;
}

.clear{
	clear:both;
}  

.btn {
	box-shadow: 0;
}

.form-control {
	height: inherit!important;
}

.form-control:focus {
	box-shadow:none;
}

.menu-burger {
	display: none!important;
}

.close-burger {
	display: none!important;
}

.container-fluid {
	max-width:75%;
}

.mb-30 {
	margin-bottom: 30px;
}

.p-80 {
	padding:80px 0;
}

.p-40 {
	padding:80px 0;
}

.p-20 {
	padding:20px 0;
}

.p-l {
	padding-left:0;
}

.p-r {
	padding-right:0;
}

.sp {
	padding:0;
}

p {
	font-size: 16px;
	font-weight: 400;
}

.btn-danger {
	color: $white;
}

#single-blog {
    padding:50px 0;

    p,li,a {
    	font-weight: 400;
    	font-size: 16px;
    	text-align: justify;
    }

    li {
    	margin-bottom: 10px;
    }

    strong {
    	font-weight: 600;
    }

    .img {
        height: 350px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 24px;
    }

    .owl-gallery {
		.img {
			height: 250px;
			background-size: cover;
			background-repeat: no-repeat;
			background-position:center;
		}
	}

    img {
    	max-width: 100%;
    }

    h1 {
        font-weight: 900;
    }

    .list {
        padding: 0;

        li {
            display: inline-block;
            background-color: $green;
            margin-right: 4px;
            border-radius: 4px;
            padding:3px 10px;
            font-size: 13px;
            color: $white;
        }
    }

    .widget {
        margin:15px 0;
        background-color: $white;
        border: 1px dotted #adadad;
        padding:10px;

        &:first-child {
            margin:0;
        }

        .form-control {
            border-radius: 0;
            padding:6px 15px;
        }

        .btn {
            border-radius: 0;
            padding:7px;
            letter-spacing: 2px;
            text-transform: uppercase;
            font-weight: 900;
            background-color: $purple;
            border:0;
        }

        .form-group {
            margin-bottom: 7px;
        }

        h3 {
            color: $purple;
            font-weight: 900;
            font-size: 17px;
            position: relative;
            z-index: 2;
            display: block;
            padding-bottom: 5px;
            border-bottom: 1px solid #ececec;

            &::before {
                content: '';
                position: absolute;
                width: 80px;
                height: 3px;
                background-color: $purple;
                top:50%;
                transform: translate(0,-50%);
                right: 0;
                z-index: 0;
            }
        }

        ul {
            margin:0;
            padding:0;

            li {
                list-style-type: none;

                a {
                    color: $black;
                    

                    &:hover {
                        color: #ececec;
                    }
                }
            }
        }
    }
}

#posts {
    #latest-blog {
        padding:50px 0;

        .result-search {
            font-size: 20px;
            margin-bottom: 10px;

            .count {

            }

            span {
                font-weight: 700;
            }
        }

        .widget {
            margin:15px 0;
            background-color: $white;
            border: 1px dotted #adadad;
            padding:10px;

            &:first-child {
                margin:0;
            }

            .form-control {
                border-radius: 0;
                padding:6px 15px;
            }

            .btn {
                border-radius: 0;
                padding:7px;
                letter-spacing: 2px;
                text-transform: uppercase;
                font-weight: 900;
                background-color: $purple;
                border:0;
            }

            .form-group {
                margin-bottom: 7px;
            }

            h3 {
                color: $purple;
                font-weight: 900;
                font-size: 17px;
                position: relative;
                z-index: 2;
                display: block;
                padding-bottom: 5px;
                border-bottom: 1px solid #ececec;

                &::before {
                    content: '';
                    position: absolute;
                    width: 80px;
                    height: 3px;
                    background-color: $purple;
                    top:50%;
                    transform: translate(0,-50%);
                    right: 0;
                    z-index: 0;
                }
            }

            ul {
                margin:0;
                padding:0;

                li {
                    list-style-type: none;

                    a {
                        color: $black;
                        font-size: 13px;

                        &:hover {
                            color: #ececec;
                        }
                    }
                }
            }
        }

        .item {
            border:1px solid #ececec;
            background-color: $white;
            margin-bottom: 30px;

            .img {
                height: 320px;
                width: 100%;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }

            .text {
                padding: 10px 25px;
            }

            h2 {
                font-weight: 900;
                margin:15px 0;
                font-size: 27px;
            }

            ul {
                padding: 0;

                li {
                    display: inline-block;
                    background-color: $green;
                    margin-right: 4px;
                    border-radius: 4px;
                    padding:3px 10px;
                    font-size: 13px;
                    color: $white;
                }
            }

            p {
                font-size: 15px;
            }

            a {
                background-color: $purple;
                color: $white;
                float: right;
                margin-right: 25px;
                margin-top: -22px;
                font-size: 16px;
                padding:5px 20px;
                border-radius:0;
            }
        }
    }
}

#navbar {
	position:relative;
	padding:20px 0;

	.btn {
		font-size: 16px!important;
	}

	&.fixed {
		position:fixed;
		top:0;
		left: 0;
		width: 100%;
		z-index: 100;
		background-color:$white;
		padding:5px;
		box-shadow: 10px 10px 25px rgba(1,1,1,0.3);

		.logo {
			max-width: 65%;
		}

		a {
			font-size: 17px;
		}

		#search {
			position:relative;

			.form-control {
				border:1px solid grey;
			}
		}

		li {
			&.active a::before {
			    background-color: #ececec;
			}
		}
	}

	.logo {
		max-width: 80%;
	}

	.top {
		
	}

	#change_lang {
		margin-left: 20px;
	}

	#search {
		position:relative;

		.form-control {
			border-radius:0;
			border:0;
		}

		.btn-submit {
			position:absolute;
			top:0;
			right:2px;
		}
	}

	ul {
		text-align: left;
		margin:0;
		padding:0;

		li {
			list-style-type: none;
			display: inline-block;
			position:relative;

			&.active a::before {
			    position: absolute;
			    content: '';
			    top: 50%;
			    left: 0;
			    background-color: white;
			    border-radius: 50%;
			    width: 30px;
			    height: 30px;
			    transform: translate(0,-50%);
			    z-index: -1;
			}

			a {
				display: block;
				font-size: 18px;
				padding:10px 8px;
				color:$purple;
				font-family: "ProgramOT";

				&:hover {
					text-decoration: none;

					&::before {
					    position: absolute;
					    content: '';
					    top: 50%;
					    left: 0;
					    background-color: white;
					    border-radius: 50%;
					    width: 30px;
					    height: 30px;
					    transform: translate(0,-50%);
					    z-index: -1;
					}
				}
			}
		}
	}
}

#fancybox {
	display: none;
	max-width: 850px;
	background-color:white;
	padding:10px;
	border-radius: 20px;

	.img-facybox {
		height: 100%;
		content:'';
		border-radius:10px;
		background-size:cover;
		background-position:center;
	}

	img {
		border-radius: 10px;
	}

	label {
		font-size: 15px!important;

		a {
			font-size: 15px!important;
		}
	}

	.form-control {
		padding: 8px 20px!important;
		margin-bottom: 3px!important;
	}

	h1 {
		font-size: 23px!important;
	}

	.btn-submit {
		width: 100%;

		&:hover {
			background-color:#823f83;
		}
	}
}

//Menu
#register-teacher {

	label {
		color:$purple;
		font-size: 17px;
		font-family: "ProgramOT";
	}

	.select {
		padding:9px 20px!important;
	}

	.gender {
		padding:13px 20px!important;
	}

	.form-control {
		padding:12px 20px;
		background-color:$yellow;
		color:$purple;
		border:0;
		font-weight: 800;
		font-size: 16px;

		&::placeholder {
			color: $purple;
			font-weight: 800;
			font-size: 16px;
		}
	}

	.btn-submit {
	    background-color: #af5db0;
	    color: #ffffff;
	    font-weight: 700;
	    font-size: 17px;
	    letter-spacing: 1px;
	    padding: 10px 25px;

	}

	h1 {
		margin-bottom: 20px;
		font-weight: 900;
		color:$purple;
		text-align:center;
		font-size: 45px;
	}

	.logo {
		max-width: 200px;
	}

	h3 {
		color:$green;
		font-weight: 900;
	}

	form {
		background-color:$white;
		padding:20px;
		border-radius:10px;
	}
}

//Buttons
.btn-blue {
	font-family: "ProgramOT";
	background-color: $blue;
	color: $white;
	padding:5px 20px;
	font-size: 18px;

	&:hover {
		background-color:#025b88;
		color: $white;
	}
}

.btn-purple {
	font-family: "ProgramOT";
	background-color: $purple;
	color: $white;
	padding:5px 20px;
	font-size: 18px;

	&:hover {
		background-color:#025b88;
		color: $white;
	}
}

.btn-green {
	font-family: "ProgramOT";
	background-color: $green;
	font-family: "ProgramOT";
	color: $white;
	padding:5px 20px;
	font-size: 18px;

	&:hover {
		background-color:#027d35;
		color: $white;
	}
}

.btn-yellow {
	font-family: "ProgramOT";
	background-color:$yellow;
	color: $blue;
	padding:5px 20px;
	font-size: 18px;
	font-weight: 800;

	&:hover {
		background-color:$yellow;
		color: $blue;
	}
}

#home {

	.header {
		background-repeat:no-repeat;
		background-size:cover;
	}

	#slide {
		border-radius: 30px;

		.item {
			background-size:cover;
			height: 640px;
			border-radius: 30px;
			position: relative;

			.text {
				position:absolute;
				top:50%;
				transform: translate(0,-50%);
				right: 100px;
				width: 29%;

				h2 {
					font-family: "ProgramOT";
					line-height: 60px;
					font-size: 60px;
					color:$white;
				}

				p {
					font-weight: 700;
					color:$white;
				}
			}
		}
	}

	#info {

		.text {
			position:relative;
			top:50%;
			transform: translate(0,-50%);

			h3 {
				font-family: "ProgramOT";
				color:$blue;
				font-size: 35px;
				text-align: left;
				margin-bottom: 30px;

				span {
					font-family: "ProgramOT";
					display: block;
				}
			}
		}

		.cube {
			padding:8px 10px;
			background-color:$white;
			margin-bottom: 20px;
			color:$purple;
			font-weight: 600;
			text-align:left;

			img {
				margin-right: 10px;
			}
		}
	}

	#info2 {

		h3 {
			text-align: center;
			font-family: 'ProgramOT';
			color:$white;
			font-size: 40px;
			margin-bottom: 50px;

			span {
				font-family: 'ProgramOT';
				display: block;
			}
		}

		.item {
			.blue {
				color:$blue;
			}

			.green {
				color:$green;
			}

			.orange {
				color: $orange;
			}

			.blue-light {
				color: #7c99e5;
			}
		}

		.text {
			padding:20px;
			background-color:$white;
			height: 340px;

			img	{
				max-width: 50%;
				display: block;
				margin:0 auto;
				margin-bottom: 20px;
			}

			h4 {
				text-align: center;
				font-size: 25px;
				font-family: 'ProgramOT';
			}

			p {
				color:#7f7a7a;
				font-weight: 800;
				text-align: center;
			}
		}
	}

	#why {
		background-color:#00a497;

		h3 {
			font-family: 'ProgramOT';
			font-size: 70px;
			line-height: 60px;
			color:$white;
			top: 50%;
			position:relative;
			transform: translate(0,-50%);
			position: relative;
			display: inline-block;

			.ajolote {
				position: absolute;
				left: -200px;
				top:-60px;
				z-index:-1;
			}

			span {
				font-family: 'ProgramOT';
				display: block;
				padding-left: 30px;
			}
		}

		.number {
			text-align: center;

			h4 {
				color:$yellow;
				font-family: 'ProgramOT';
				font-size: 75px;
				line-height: 60px;
			}

			h5 {
				color: $white;
				font-size: 25px;
				font-weight: 700;
				line-height: 20px;
			}

			p {
				max-width: 60%;
				margin:0 auto;
				line-height: 28px;
				color:#56eee2;
				font-size: 21px;
			}
		}
	}

	#teachers {
		#why {
			background-color:#00a497;

			h3 {
				font-family: 'ProgramOT';
				font-size: 70px;
				line-height: 60px;
				color:$white;
				top: 50%;
				position:relative;
				transform: translate(0,-50%);

				span {
					font-family: 'ProgramOT';
					display: block;
					padding-left: 30px;
				}
			}
		}
	}
}

#about {

	#slide {

		.head {
			height: 640px;
			background-size:cover;
			background-repeat:no-repeat;
			position:relative;
			border-radius:12px;

			.text {
				position:absolute;
				top:50%;
				transform: translate(0,-50%);
				max-width: 40%;
				right: 80px;

				.btn-purple {
					margin-top: 12px;
				}

				h1 {
					line-height: 55px;
					color:$white;
					font-size: 55px;
					font-family: 'ProgramOT';
				}
			}
		}

		margin-bottom: 60px;
	}

	#info {
		background-color:#00a497;
		padding:60px 0;

		.row {
			position:relative;
		}

		.row::before {
			content:'';
			position:absolute;
			top:50%;
			left:50%;
			transform: translate(-50%,-50%);
			height: 130px;
			width:90%;
			background-color:$purple;
		}
	}

	#info2 {
		padding:80px 0;

		h2 {
			font-family: 'ProgramOT';
			font-size: 43px;
			text-align: center;
			color: $purple;

			span {
				font-family: 'ProgramOT';
				display: block;
				margin-bottom: 50px;
			}
		}

		.item {
			margin-bottom: 40px;

			img {
				display: block;
				margin:0 auto;
			}

			h3 {
				margin:0 auto;
				margin-top: 20px;
				color: $purple;
				font-size: 25px;
				max-width: 80%;
				text-align: center;
				font-family: 'ProgramOT';
			}
		}
	}

	#info3 {
		padding:60px 0;
		background-size:cover;
		background-repeat:no-repeat;
		text-align: center;

		h3 {
			font-family: 'ProgramOT';
			color: $white;
			font-size: 32px;
		}

		.text {
			position: relative;
			top:50%;
			transform: translate(0,-50%);
		}

		p {
			color: $white;
			font-size: 20px;
			text-align: center;
		}
	}
}

#teacher-section {

	.header {
		background-repeat:no-repeat;
		background-size:cover;
	}

	#slide {

		.head {
			height: 640px;
			background-size:cover;
			background-repeat:no-repeat;
			position:relative;
			border-radius:12px;

			.text {
				position:absolute;
				top:50%;
				transform: translate(0,-50%);
				max-width: 40%;
				right: 80px;

				.btn-purple {
					margin-top: 12px;
				}

				h1 {
					line-height: 55px;
					color:$white;
					font-size: 55px;
					font-family: 'ProgramOT';
				}
			}
		}

		margin-bottom: 60px;
	}

	#info {
		text-align: center;
		padding-bottom: 40px;

		.title {
			font-family: 'ProgramOT';
			color:$blue;
			font-size: 40px;
		}

		p {
			color:$blue;
			font-size: 28px;
			margin-bottom: 30px;
			line-height: 32px;

			span {
				display: block;
			}
		}

		.item {
			max-width: 80%;
			text-align: center;
			margin:0 auto;

			img {
				max-width: 35%;
			}

			.purple {
				color: $purple;
			}

			.green {
				color: $green;
			}

			h2 {
				margin-top: 20px;
				color: $blue;
				font-family: 'ProgramOT';
			}

			p {
				line-height: 23px;
				font-size: 19px;
			}
		}
	}

	#teachers-person {
		padding:40px 0;
		background-color:$green;
	}
}

#philosophy-section {

	.header {
		background-repeat:no-repeat;
		background-size:cover;
	}

	#slide {

		.head {
			height: 640px;
			background-size:cover;
			background-repeat:no-repeat;
			background-position:center;
			position:relative;
			border-radius:12px;

			.text {
				position:relative;
				top:50%;
				left:10%;
				max-width: 40%;
				transform: translate(0,-50%);

				h1 {
					line-height: 55px;
					color:$white;
					font-size: 55px;
					font-family: 'ProgramOT';
				}
			}
		}
	}

	#info {
		padding:70px 0;

		.logo {
			position:relative;
			top:50%;
			transform: translate(0,-50%);
		}

		p {
			color: $purple;
			text-align: justify;
			font-size: 18px;
		}
	}

	#green {
		background-color:$green;
		padding:50px 0;
		margin-top: 50px;

		.text {
			top: 50%;
			transform: translate(0,-50%);
			position: relative;

			h3 {
				color: $white;
				max-width: 80%;
				font-size: 30px;
				font-family: 'ProgramOT';
				text-align: left;
			}

			p {
				text-align: left;
				font-size: 19px;
				color: $white;
			}
		}
	}
}

#hiring-section {

	.header {
		background-repeat:no-repeat;
		background-size:cover;
	}

	#slide {

		.head {
			height: 640px;
			background-size:cover;
			background-repeat:no-repeat;
			position:relative;
			border-radius:12px;

			.text {
				position:absolute;
				top:50%;
				transform: translate(0,-50%);
				max-width: 40%;
				right: 80px;

				.btn-purple {
					margin-top: 12px;
				}

				h1 {
					line-height: 55px;
					color:$white;
					font-size: 55px;
					font-family: 'ProgramOT';
				}
			}
		}

		margin-bottom: 60px;
	}

	#register {
		.card {
			padding:40px;
		}

		label {
			color:$purple;
			font-size: 17px;
			font-family: "ProgramOT";
		}

		.form-control {
			padding:12px 20px;
			background-color:$yellow;
			color:$purple;
			border:0;
			font-weight: 800;

			&::placeholder {
				color: $purple;
				font-weight: 800;
				font-size: 16px;
			}
		}

		.btn-submit {
			float: right;
			background-color:$purple;
			color:$white;
			font-weight: 700;
			letter-spacing: 1px;
			padding:10px 25px;
		}

		h2 {
			font-family: 'ProgramOT';
			margin:20px 0;
			color:$purple;
			font-size: 35px;
		}

		.file {
			padding:14px;
			background-color:$purple;
			border-radius:10px;
			display: block;
			position:relative;

			&:hover {
				cursor:pointer;
				opacity: 0.9;
			}

			img {
				display: block;
				margin:0 auto;
			}

			p {
				text-align: center;
				color:$white;
				position:relative;
				margin:0;
				font-size: 18px;
				font-weight: 700;
			}
		}

		h1 {
			text-align: center;
			font-family: 'ProgramOT';
			color:$purple;
			font-size: 45px;
		}

		p {
			color: $purple;
			font-size: 23px;
		}

		.item {
			margin:10px 0;

			img {
				display: block;
				margin:0 auto;
			}

			h4 {
				font-weight: 600;
				color: $purple;
			    top: 50%;
			    position: relative;
			    transform: translate(0,-50%);
			}
		}
	}
}

#teacher {
	h3 {
		font-family: 'ProgramOT';
		font-size: 50px;
		line-height: 45px;
		color:$white;
	}

	a {
		text-decoration: none;
	}

	p {
		margin-bottom: 40px;
		color:$white;
		font-size: 18px;
	}

	.teacher {
		padding:20px;
		background-color:$white;

		.img {
			background-color:#cbcbcb;
			height: 280px;
			position:relative;
			background-size: cover;
		}

		h4 {
			font-family: 'ProgramOT';
			margin:20px 0;
			color: $purple;
		}
	}

	.btn {
		margin-top: 30px;
	}
}

footer {
	.logo {
		max-width: 70%;
	}

	.icon {
		width: 80%;
		float: right;
		top:50%;
		transform: translate(0,-50%);
		position:relative;
	}

	.padding {
		padding:60px 0;
	}

	.m-b {
		margin-bottom: 20px;
	}

	.copy {
		background-color:$white;
		color:#a8a8a8;
		padding:15px 0;
		font-weight: 500;
		text-align: center;
	}

	h3 {
		font-family: 'ProgramOT';
		color: $purple;
		font-size: 30px;

		span {
			font-family: 'ProgramOT';
			display: block;
		}
	}

	p {
		color: $purple;
		text-align: left;
		font-weight: 700;
	}

	a {
		display: block;
		color:$purple;
		font-weight: 600;
	}

	ul {
		padding-left:5px;

		&.social {
			margin-bottom: 20px;

			li {
				display: inline-block;
				margin-right: 7px;

				&:last-child {
					margin-right: 0;
				}
			}
		}

		li {
			list-style-type: none;

			a {
				font-size: 18px;
				font-weight: 600;
				color: $purple;
			}
		}
	}
}


//Pricing
#pricing {

	#title {
		margin:20px 0;

		h2 {
			font-family: 'ProgramOT';
			color: $purple;
			font-size: 50px;

			span {
				font-family: 'ProgramOT';
				display: block;
			}
		}
	}

	#table {
		background-image: url('../assets/img/home/bg-info2.jpg');
		padding:90px 0;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;

		.ajolote {
		    position: absolute;
		    top: -250px;
		    left: 6%;
		    z-index:0;
		    max-width: 350px;
		}

		.cube {
			background-color: $white;
			border-radius: 20px;
			padding:30px;
			text-align: center;
			position: relative;
			z-index:1;

			h3 {
				font-family: 'ProgramOT';
				color:$green;
				font-size: 45px;
			}

			p {
				margin:20px 0;
				font-size: 20px;
				line-height: 30px;
				color: #b1b1b1;
			}

			.price {
				border-top: 1px solid #e8e7e7;
				padding-top: 30px;

				h4 {
					color: $green;
					text-align: center;
					font-size: 70px;
					font-family: 'ProgramOT';
					padding: 0;
					margin: 0;
					line-height: 40px;
					text-transform: uppercase;

					span {
						display: block;
						font-size: 30px;
						font-family: 'ProgramOT';
					}
				}
			}

			.subtitle {
				margin:0;
				font-size: 16px;
			}

			.btn-green {
				margin-top: 10px;
				font-size: 20px;
				border-radius: 10px;
				padding:10px;
			}
		}
	}
}

//MEDIA QUERIES
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1536px) {

	#navbar .btn {
		font-size: 13px!important;
	}

}

@media only screen and (max-width : 1366px) {

	#navbar ul li a {
		font-size: 16px;
	}

	.container-fluid {
		max-width:90%!important;
	}

	#home #why .number p {
	    max-width: 90%;
	}

	#home #slide .item {
		background-position:center;
	}

	#home #slide .item {
		height: 520px;
	}

	#home #slide .item .text h2 {
	    line-height: 40px;
	    font-size: 45px;
	}

}
@media only screen and (max-width: 1199px) {
	.menu-burger {
		display: block!important;
	}
}

@media only screen and (max-width : 1200px) {

	#philosophy-section #slide .head {
	    height: 540px;
	}

	#philosophy-section #info .container {
		max-width: 80%;
	}

	#philosophy-section #info .logo {
	    position: relative;
	    top: inherit;
	    transform: inherit;
	    max-width: 40%;
	    display: block;
	    margin: 0 auto;
	}

	#hiring-section #register .item {
		text-align: center;
	}

	#hiring-section #register p {
		text-align: center;
	}

	#hiring-section #register .card {
	    padding: 10px;
	}

	#hiring-section #register h1 {
	    text-align: center;
	    font-size: 35px;
	    line-height: 38px;
	}

	#hiring-section #register h2 {
		text-align: center;
	}

	#hiring-section #register .item h4 {
		margin-top: 20px;
	}

	#about #slide .head .text h1 {
	    line-height: 45px;
	    font-size: 45px;
	}

	#home #info .cube {
	    text-align: center;
	}

	#home #info .cube img {
	    margin-right: inherit;
	    margin: 10px auto;
	    display: block;
	}

	#navbar ul li a {
	    font-size: 16px;
	    padding: 7px;
	}

	#navbar {
		#change_lang {
			margin-left: inherit;
		}

		ul {
			display: none;
			position:fixed!important;
			top: 0!important;
			right: 0!important;
			height: 100%!important;
			z-index:100!important;
			transform: inherit!important;
			padding:30px!important;
			background-color:#dcdcdc;
			width: 30%;
			box-shadow: 5px 5px 20px rgb(1, 1, 1, 0.5);

			li {
				display: block!important;

				a {
					padding:5px;
				}
			}
		}
	}

	.active {
		display: block!important;
	}

	.close-burger {
		display: block;
		margin-top: 30px;
		text-align: center;
		transition: all 0.7s ease;
	}

	.menu-burger {
		position:relative;
		top: 50%;
		transform: translate(0,-50%);
		transition: all 0.7s ease;
	}

	#home #info img {
	    display: none;
	}

	#home #why h3 {
		top: inherit;
		transform:inherit;
		display: block;
		text-align: center;
		margin-bottom: 30px;
	}

	#home #why h3 .ajolote {
		z-index:1;
		position: relative;
		left:0;
		display: block;
		margin:0 auto;
		margin-bottom: 0;
	}

	#about #info2 h2 span {
		display: inline;
	}

	#about #info2 h2 {
	    font-size: 36px;
	}

	#about #info3 h3 {
	    font-size: 28px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

	#fancybox img {
		display: none;
	}

	#philosophy-section #green img {
		display: block;
		margin: 0 auto;
		max-width: 60%;
	}

	#philosophy-section #green .text h3,#philosophy-section #green .text p {
		max-width: inherit;
		text-align: center;
	}

	#philosophy-section #green .text p {
		margin-bottom: 30px;
	}

	#about #slide .head .text {
	    position: absolute;
	    top: 50%;
	    transform: translate(-50%,-50%);
	    max-width: 50%;
	    right: inherit;
	    text-align: center;
	    left: 50%;
	}

	#philosophy-section #slide .head .text h1 {
	    line-height: 40px;
	    font-size: 40px;
	}

	#philosophy-section #slide .head {
	    height: 450px;
	}

	#about #info img {
		display: block;
		margin:10px auto;
	}

	#about #slide .head::before {
		content: '';
		position:absolute;
		top:0;
		left: 0;
		background-color: rgba(1,1,1,0.5);
		width: 100%;
		height: 100%;
		border-radius: 10px;
	}

	#about #slide .head {
	    height: 530px;
	}

	#home #info .text h3 {
		text-align: center;
	}

	#home #info2 .text {
		height: inherit;
	}

	#home #why {
		text-align: center;

		 h3 {
		 	margin-bottom: 40px;
		 }

		 .number {
		 	margin:20px 0;
		 }
	}

	#home #slide .item .text {
		width: 40%;
	}

	footer {
		text-align: center;

		.logo {
		    max-width: 30%;
		}

		.icon {
		    width: 50px;
		    float: inherit;
		    top: inherit;
		    transform: inherit;
		    position: relative;
		    margin-bottom: 10px;
		}
	}

	// #grey {
	// 	background-color:rgba(49,49,49,0.8);
	// 	width: 100%;
	// 	height: 100%;
	// 	position: fixed;
	// 	z-index:99;
	// }

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	#philosophy-section #slide .head {
		position: relative;

		&::before {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: rgba(1,1,1,0.6);
			top: 0;
			left: 0;
			border-radius: 10px;
		}

		.text {
		    max-width: 80%;
		    text-align: center;
		}
	}

	#home #slide .item .text {
	    width: 80%;
	    text-align: center;
	    left: 50%;
	    transform: translate(-50%,-50%);
	}

	#about #slide .head {
	    height: 390px;
	}

	#about #slide .head .text h1 {
		font-size: 35px;
		line-height:35px;
	}

	#home #slide .item {
		height: 400px;
	}

	#about #info .row::before {
	    content: "";
	    position: absolute;
	    left: 50%;
	    transform: translate(-50%,0);
	    height: 100%;
	    width: 30%;
	    background-color: #af5db0;
	    top: 0;
	}

	#home #slide .item::before {
		content: '';
		width: 100%;
		height: 100%;
		left: 0;
		top:0;
		position: absolute;
		background-color: rgb(31,31,31,0.7);
		border-radius: 30px;
	}

	#navbar ul {
		width: 50%;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.btn-purple {
		font-size: 16px!important;
	}

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
