@import url(https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap);
* {
  transition: all 0.2s ease;
}

.navbar-brand a {
  width: 50%;
  margin: 0 auto;
}

.form-control.invalid {
  border-color: #f52915;
}

.owl-gallery .img {
  height: 160px;
  background-size: cover;
  width: 100%;
}
.owl-gallery .delete {
  background-color: red;
  color: white;
}

#schedulestudent .info-teacher .img {
  height: 250px;
  margin: 10px 0;
  border: 3px solid #ececec;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#schedulestudent .comment {
  padding: 10px 20px;
  background-color: #ececec;
  margin: 10px 0;
}
#schedulestudent .comment ul {
  padding: 0;
}
#schedulestudent .comment ul li {
  list-style-type: none;
  display: inline-block;
}
#schedulestudent .comment ul li i {
  color: #ffd700;
}
#schedulestudent .comment p {
  margin: 0;
}

.info-student .img {
  height: 160px;
  background-position: center;
  background-size: cover;
}
.info-student h4 {
  font-weight: 700;
  margin: 0;
  font-size: 22px;
  color: #af5db0;
}
.info-student h4 small {
  font-size: 10px;
  background-color: #af5db0;
  color: #ffffff;
  padding: 3px 5px;
  border-radius: 5px;
}
.info-student p {
  font-size: 15px;
  padding: 0;
  margin: 0;
}

#credit-message h3 {
  color: #af5db0;
  font-weight: 700;
}
#credit-message strong {
  color: #af5db0;
}

.teacher-item {
  margin-bottom: 15px !important;
  position: relative;
}
.teacher-item h2 {
  margin: 0;
  font-weight: 500;
}
.teacher-item small {
  margin: 10px 0;
}
.teacher-item .img {
  position: absolute;
  height: 100%;
  width: 180px;
  border-right: 2px solid #ececec;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  left: 0;
  bottom: 0;
  z-index: 2;
}

.auth-wrapper .bg-white {
  padding: 40px;
  padding-bottom: 0;
  border-radius: 20px;
  box-shadow: 12px 12px 20px rgba(76, 73, 73, 0.4);
  position: relative;
}
.auth-wrapper .bg-white .mascota {
  position: absolute;
  right: -261px;
  top: -10px;
  z-index: 10;
  max-width: 320px;
}
.auth-wrapper .bg-white h2 {
  font-family: "ProgramOT";
  color: #b060b0;
  margin-bottom: 20px;
  font-size: 35px;
}
.auth-wrapper .bg-white .form-control {
  border: 0;
  padding: 20px;
  font-size: 16px;
  border-bottom: 2px solid #d3a8d4;
  font-weight: 600;
  color: #ac61ac;
  opacity: 0.7;
}
.auth-wrapper .bg-white .form-control::-moz-placeholder {
  color: #ac61ac;
  opacity: 0.7;
}
.auth-wrapper .bg-white .form-control:-ms-input-placeholder {
  color: #ac61ac;
  opacity: 0.7;
}
.auth-wrapper .bg-white .form-control::placeholder {
  color: #ac61ac;
  opacity: 0.7;
}
.auth-wrapper .bg-white .p {
  text-align: center;
  display: block;
  margin: 0 auto;
  color: #aaaaaa;
  margin-bottom: 20px;
}
.auth-wrapper .bg-white .btn-blue {
  padding: 8px;
  font-size: 23px;
  border-radius: 25px;
  font-family: "ProgramOT";
  background-color: #00a69b;
  color: #ffffff;
}
.auth-wrapper .bg-white .btn-register {
  padding: 8px;
  font-size: 23px;
  border-radius: 25px;
  font-family: "ProgramOT";
  background-color: #af5db0;
  color: #ffffff;
}
.auth-wrapper .bg-white .logo {
  max-width: 60%;
  display: block;
  margin: 30px auto;
}

.alert {
  padding: 10px !important;
  margin-bottom: 8px !important;
  border-radius: 2px !important;
  font-size: 15px !important;
}
.alert ul {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 20px;
}

.nav-top .nav-link {
  padding: 0 5px !important;
}
.nav-top .info-days {
  background-color: red;
  padding: 10px 16px;
  border-radius: 20px;
  color: #ffffff;
}
.nav-top .info-credit {
  background-color: #0090d9;
  color: #ffffff;
  padding: 10px 16px;
  border-radius: 20px;
  color: #ffffff;
}

.form-teachers {
  background-color: #ececec;
  padding: 20px;
}

.item-teacher {
  padding: 30px 20px;
  border: 1px solid #ececec;
  background-color: #ffffff;
  position: relative;
  cursor: pointer;
}
.item-teacher .date {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 10px;
  padding: 4px 10px;
  background-color: #ececec;
}
.item-teacher .btn {
  font-size: 13px;
}
.item-teacher .add-schedule {
  position: absolute;
  bottom: -20px;
  right: 10px;
}
.item-teacher:hover {
  background-color: #ececec;
}
.item-teacher .stars {
  font-size: 13px;
}
.item-teacher .stars .fas {
  color: gold;
}
.item-teacher h3 {
  margin: 0;
}
.item-teacher h5 {
  font-size: 14px;
  margin: 0;
}
.item-teacher .img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  position: relative;
  border: 1px solid #ececec;
}
.item-teacher p {
  line-height: 16px;
  margin-top: 6px;
  margin-bottom: 0;
}

.p-none {
  padding: 0;
}

.p-right {
  padding-right: 0;
}

.p-left {
  padding-left: 0;
}

.classroom_teacher_rate .card-student {
  text-align: center;
}
.classroom_teacher_rate .card-student .img {
  height: 150px;
  width: 150px;
  display: block;
  margin: 15px auto;
  border-radius: 50%;
  border: 1px solid #ececec;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.classroom_teacher_rate .card-student .btn {
  position: absolute;
  right: 20px;
}

.owl-class-next .info-popup-next {
  display: none;
  width: 100%;
  max-width: 750px;
}
.owl-class-next .info-popup-next .message-item {
  border: 1px solid #ececec;
}
.owl-class-next .info-popup-next .message-item p {
  margin: 0;
}
.owl-class-next .info-popup-next .message-item h4 {
  font-size: 16px;
}
.owl-class-next a {
  text-decoration: none;
  color: inherit;
}
.owl-class-next .img {
  height: 190px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 6px;
  position: relative;
}
.owl-class-next .img::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(1, 1, 1, 0.4);
}
.owl-class-next .img .text {
  border-radius: 6px;
  position: absolute;
  left: 15px;
  bottom: 10px;
}
.owl-class-next .img .text p {
  margin: 0;
  color: #ffffff;
  font-size: 14px;
}

#student-comments .comment-item {
  border: 1px solid #ececec;
  border-radius: 5px;
}
#student-comments .comment-item .img {
  height: 150px;
  width: 150px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#student-comments .comment-item .info {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}
#student-comments .comment-item .stars {
  padding: 0;
  margin-bottom: 10px;
}
#student-comments .comment-item .stars li {
  display: inline-block;
  list-style-type: none;
}
#student-comments .comment-item .stars li .fas {
  color: gold;
}

#profile-status {
  position: relative;
}
#profile-status .img-profile {
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
  border-radius: 50%;
  border: 1px solid #ececec;
  height: 150px;
  width: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#profile-status .btn-float {
  position: absolute;
  right: 20px;
  top: 0;
}
#profile-status .stars-profile {
  padding: 0;
  position: absolute;
  bottom: 20px;
  right: 25px;
}
#profile-status .stars-profile li {
  list-style-type: none;
  display: inline-block;
}
#profile-status .stars-profile li .fas {
  color: gold;
}

.owl-teachers .teacher-item {
  background-color: #ececec;
  border-radius: 10px;
  padding: 20px;
  margin: 0 !important;
  border: 5px solid #ececec;
  cursor: pointer;
  height: 180px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.owl-teachers .teacher-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: rgba(1, 1, 1, 0.4);
}
.owl-teachers .teacher-item h3 {
  font-size: 15px;
  color: black;
  margin: 0;
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #ffffff;
  font-weight: 600;
}
.owl-teachers .teacher-item.active {
  border: 5px solid #05a547;
}
.owl-teachers .teacher-item.active::before {
  background-color: rgba(1, 1, 1, 0);
}

.section-admin .header {
  text-align: center;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 15px;
  padding-top: 140px;
  padding-bottom: 20px;
}
.section-admin .header h2 {
  font-weight: 700;
  text-align: left;
  color: #af5db0;
  font-size: 25px;
}

#index-student #header {
  margin-bottom: 15px;
  position: relative;
  background-color: #af5db0;
}
#index-student #header::before {
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  background-color: rgba(1, 1, 1, 0.2);
}
#index-student .teacher-next {
  background-color: #0090d9;
  padding: 60px;
  position: relative;
  text-align: center;
}
#index-student .teacher-next .img {
  display: block;
  margin: 15px auto;
  height: 110px;
  width: 110px;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 5px solid white;
}
#index-student .teacher-next h2 {
  color: white;
  font-size: 24px;
  font-weight: 700;
}
#index-student .teacher-next h3 {
  margin: 0;
  font-size: 18px;
  color: white;
  font-weight: 600;
}
#index-student .teacher-next h3.greeting {
  position: absolute;
  bottom: 0;
  left: 0;
}
#index-student .teacher-next p {
  font-weight: 300;
  line-height: 20px;
  color: white;
}
#index-student .teacher-next #count {
  position: absolute;
  font-size: 18px;
  font-weight: 600;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: #0078b5;
  padding: 8px 25px;
  color: #ffffff;
}
#index-student #header .inner {
  background-color: rgba(175, 93, 176, 0.9);
  padding: 12px 0;
}
#index-student #header .inner h2 {
  font-size: 20px;
  text-align: left;
  color: white;
  margin: 0;
}
#index-student #header .float-score li {
  display: inline-block;
}
#index-student #header .float-score li:first-child {
  font-weight: 500;
  color: white;
}
#index-student #header .float-score li i {
  color: #fdc16a;
  font-size: 17px;
}
